<div class="container">
    <div class="wrapper">
        <a routerLink="">
            <img src="assets/images/coursenta.svg" class="logo">
        </a>
        <div class="user-container">
            <div class="user">
                <img src="assets/images/user-avatar-stub.svg" class="avatar">
                <p class="user-name">Nikolay Ivanov</p>
            </div>
            <button class="log-out">
                <img src="assets/images/logout.svg" class="log-out-icon">
                <a class="log-out-text">Log out</a>
            </button>
        </div>
    </div>
</div>